{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

</head>
<body>
<form action="/connexion/" method="post">
    {% csrf_token %}
    Email :
    <input type="email" name="email">
    Password:
    <input type="password" name="pass">
    <button type="submit">Sign in</button>
</form>
</body>
</html>