<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>TODO LIST</h2>
    <form action ="/tasksent" method = "post">
      {% csrf_token %} 
      <label for="your_todo">Enter your task</label>
      <input id="your_task" type="text" name="your_task" required>
      <input type="submit" value="OK">
    </form>
    {% for task in all_todos %}
      <h4>{{ task.1}}</h4>
    {% endfor %}
</body>
</html>